<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div>
  <button type="button" (click)="routeHomeClicked()">
    Home
  </button>
  <button type="button" (click)="routeFatherClicked()">
    Router Father
  </button>
  <button type="button" (click)="routeChildClicked()">
    Router Child
  </button>
</div>

<div>
  <button type="button" (click)="AClicked()">
    button A
  </button>
  <button type="button" (click)="BClicked()">
    button B
  </button>
  <button type="button" (click)="CClicked()">
    button C
  </button>
  <button type="button" (click)="DClicked()">
    button D
  </button>
</div>

<!-- <input-template [inputData]="input"></input-template> -->

<router-outlet></router-outlet>